# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.idea/

# Backend build output
Backend/**/bin/
Backend/**/obj/

# Visual Studio
.vs/
*.user
*.suo
**/CopilotIndices/

# General
.env
.DS_Store